<div class="{{where.area.name}} {{exploring}} area-bg">
  <div class="inner-area {{where.area.name}} {{exploring}}">
    <div *ngIf="!exploring">
      <div class="difficulty">
        <p>Difficulty
          <span *ngIf="selectedDif > 1" class="glyphicon glyphicon-triangle-left" (click)="difDecrease()"></span>
          {{selectedDif}}
          <span *ngIf="selectedDif < maxDifficulty" class="glyphicon glyphicon-triangle-right" (click)="difIncrease()"></span>
        </p>
      </div>
      <button class="set-out btn btn-primary" (click)="setOut()">Set out!</button>
    </div>

    <div *ngIf="exploring" class="progress">
      <div class="progress-bar" [ngClass]="{'progress-bar-danger': inBattle, 'progress-bar-success': !inBattle}"
            role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: towards}">
        <span>{{(exploration.step / exploration.end) * 100}}% Complete - {{exploration.step}} / {{exploration.end}}</span>
      </div>
    </div>

    <button *ngIf="exploring" class="action btn-success" (click)="takeAction('move')">
      Move Forward ( {{energyRequired}} <i class="glyphicon glyphicon-flash"></i>)
    </button>

    <button *ngIf="inBattle" class="action btn-warning" (click)="takeAction('attack')">
      Attack ( {{energyRequired}} <i class="glyphicon glyphicon-flash"></i>)
    </button>
    <div *ngIf="inBattle" class="encounter">You encountered an opponent. Remaining Health: {{encounter}}</div>
  </div>
</div>
