<div *ngIf="auth.getLocal('email') !== null" class="full-border">
  <div class="inner-block">
    <div class="row">
      <a routerLink="user">
          <div class="col-sm-3 container bg-g">
          <img [ngClass]="{'active bg-g': auth.getLocal('route') == 'user'}" src="../../assets/self.png">
          <div class="overlay">
            <div class="text text-black">About you</div>
          </div>
        </div>
      </a>
      <div class="col-sm-3">
        <a routerLink="/explore/index"><img [ngClass]="{'active': auth.getLocal('route') == 'explore'}" src="../../assets/explore.jpeg"></a>
      </div>
      <a routerLink="farm">
          <div class="col-sm-3 container">
          <img [ngClass]="{'active': auth.getLocal('route') == 'farm'}" src="../../assets/signpost.jpg">
          <div class="overlay">
            <div class="text">The farm</div>
          </div>
        </div>
      </a>
      <a routerLink="creature">
        <div class="col-sm-3 container">
          <img [ngClass]="{'active': auth.getLocal('route') == 'creature'}" src="../../assets/creature.jpg">
          <div class="overlay">
            <div class="text text-down">Creature</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
