<div class="full-border">
  <div class="inner-block">
    <div class="row">
      <div class="col-sm-3 container bg-g">
        <img src="../../assets/self.png">
        <div class="overlay">
          <div class="text text-black">About you</div>
        </div>
      </div>
      <div class="col-sm-3">
        <img src="../../assets/explore.jpeg">
      </div>
      <div class="col-sm-3 container">
        <img src="../../assets/signpost.jpg">
        <div class="overlay">
          <div class="text">The farm</div>
        </div>
      </div>
      <div class="col-sm-3 container">
        <img src="../../assets/creature.jpg">
        <div class="overlay">
          <div class="text text-down">Creature</div>
        </div>
      </div>
    </div>
  </div>
</div>
