<div class="container">
  <h4>Your creature</h4>
  <table class="table table-responsive table-hover">
    <thead>
      <th></th>
      <th class="c-h">Current</th>
      <th class="c-h">Max</th>
    </thead>
    <tbody>
      <tr>
        <th>Health</th>
        <td>{{creature.c_hp}}</td>
        <td>{{creature.m_hp}}</td>
      </tr>
      <tr>
        <th>Strength</th>
        <td>{{creature.c_str}}</td>
        <td>{{creature.m_str}}</td>
      </tr>
      <tr>
        <th>Defence</th>
        <td>{{creature.c_def}}</td>
        <td>{{creature.m_def}}</td>
      </tr>
      <tr>
        <th>Dexterity</th>
        <td>{{creature.c_dex}}</td>
        <td>{{creature.m_dex}}</td>
      </tr>
      <tr>
        <th>Speed</th>
        <td>{{creature.c_spd}}</td>
        <td>{{creature.m_spd}}</td>
      </tr>
      <tr>
        <th>Intelligence</th>
        <td>{{creature.c_int}}</td>
        <td>{{creature.m_int}}</td>
      </tr>
      <tr>
        <th>Sight</th>
        <td>{{creature.c_sig}}</td>
        <td>{{creature.m_sig}}</td>
      </tr>
  </tbody>
  </table>
</div>
