<form>
  <div class="signup-container ">

    <div class="input-group">
      <span class="input-group-addon">Email</span>
      <input class="form-control" type="text" name="email" [(ngModel)]="newUser.email" placeholder="Your email address" required>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Password</span>
      <input class="form-control" type="text" name="password" [(ngModel)]="newUser.password" placeholder="Password" required>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Confirm</span>
      <input class="form-control" type="text" name="password_confirmation" [(ngModel)]="newUser.password_confirmation" placeholder="Confirm Password" required>
    </div>

    <input class="btn btn-primary" (click)="signUp()" type="submit" value="Sign Up"/>

  </div>
</form>
