<form>
  <div class="signup-container ">

    <div class="input-group input-group-lg">
      <span [ngClass]="{'danger': auth.pwcError}" class="input-group-addon success">Current Password</span>
      <input class="form-control" type="text" name="password" [(ngModel)]="password" placeholder="Password" required>
    </div>

    <span class="glyphicon glyphicon-triangle-bottom"></span>
    <span class="glyphicon glyphicon-triangle-bottom"></span>
    <span class="glyphicon glyphicon-triangle-bottom"></span>

    <div class="input-group input-group-lg">
      <span class="input-group-addon success">New Password</span>
      <input class="form-control" type="text" name="password_confirmation" [(ngModel)]="change" placeholder="Confirm Password" required>
    </div>

    <input class="btn btn-primary btn-lg" (click)="changePassword()" type="submit" value="Change Password"/>

  </div>
</form>
<div *ngIf="auth.passwordChanged">
  <h3>&#9989; Your password was successfully changed &#9989;</h3>
  <a routerLink="/home">Go back to game</a>
</div>
<div *ngIf="auth.pwcError">
  <h3>&#10060; Sorry, something went wrong with your request. &#10060;</h3>
  <h5>&#10060; Check to make sure you entered the correct password. &#10060;</h5>
</div>
