.signup-container {
  margin:  auto;
  width: 50%;
}

.input-group-addon.success {
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
  color: rgb(255, 255, 255);
}

::-webkit-input-placeholder {
   text-align:right;
 }

 .glyphicon {
     font-size: 50px;
 }

.btn {
  margin-top: 10px;
}

.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}

h3, h5 {
  text-align: center;
}
