<div class="csm">

<div class="row">
  <div class="col-xs-6 si-r">
    <app-signup></app-signup>
  </div>

  <div class="col-xs-6 si-l">
    <form>
      <div class="signup-container">

        <div class="input-group input-group-lg">
          <span [ngClass]="{'danger': auth.signInError}" class="input-group-addon success">Email</span>
          <input class="form-control" type="text" name="email" [(ngModel)]="user.email" placeholder="Your email address" required>
        </div>

        <div class="input-group input-group-lg">
          <span [ngClass]="{'danger': auth.signInError}" class="input-group-addon success">Password</span>
          <input class="form-control" type="text" name="password" [(ngModel)]="user.password" placeholder="Password" required>
        </div>

        <input [ngClass]="{'btn-danger': auth.signInError}" class="btn btn-primary btn-lg" (click)="signIn()" type="submit" value="Sign In"/>

      </div>
    </form>

  </div>
</div>
<div *ngIf="auth.signInError">
  <h4>Something went wrong, please check your email and password.</h4>
</div>
<div *ngIf="auth.signUpError">
  <h4>Something went wrong. Your email may already be in use or your passwords may not match.</h4>
</div>
</div>
