.signup-container {
  margin-right: auto;
  width: 75%;
}

.input-group-addon.success {
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
  color: rgb(255, 255, 255);
}

.signup-container > :first-child > :first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
}

.signup-container > :first-child > :last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 10px;
}

.signup-container > :nth-child(2) > :last-child, :first-child {
  border-radius: 0;
}

.si-r {
  border-right: 6px dashed #b2b2b2;
}

.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}

.btn {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
}
::-webkit-input-placeholder {
   text-align:right;
 }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
