<div class="container">
  <h4>About You</h4>
  <table class="table table-responsive table-hover">
    <tr>
      <th>Current Level</th>
      <td>{{user_profile.level}}</td>
    </tr>
    <tr>
      <th>Current Experience</th>
      <td>{{user_profile.experience}}</td>
    </tr>
    <tr>
      <th>Needed to level</th>
      <td>{{neededToLevel}}</td>
    </tr>
    <tr>
      <th>Your gold</th>
      <td>{{user_profile.gold}}</td>
    </tr>
    <tr>
      <th>Maximum Energy</th>
      <td>{{maxEnergy}}</td>
    </tr>
  </table>
</div>
