<div class="container">
  <h4>About You</h4>
  <table class="table table-responsive table-hover">
    <tr>
      <th>Current Level</th>
      <td>{{user_profile.level}}</td>
    </tr>
    <tr>
      <th>Current Experience</th>
      <td>{{user_profile.experience}}</td>
    </tr>
    <tr>
      <th>Needed to level</th>
      <td>{{neededToLevel}}</td>
    </tr>
    <tr>
      <th>Your gold</th>
      <td>{{user_profile.gold}}</td>
    </tr>
    <tr>
      <th>Maximum Energy</th>
      <td>{{maxEnergy}}</td>
    </tr>
    <tr>
      <th>Highest Forest area clear</th>
      <td>
        <p *ngIf="exploration.top_f === 0">You have not ventured here yet</p>
        <p *ngIf="exploration.top_f !== 0">{{exploration.top_f}}</p>
      </td>
    </tr>
    <tr>
      <th>Highest Desert area clear</th>
      <td>
        <p *ngIf="exploration.top_d === 0">You have not ventured here yet</p>
        <p *ngIf="exploration.top_d !== 0">{{exploration.top_d}}</p></td>
    </tr>
    <tr>
      <th>Highest Mountain area clear</th>
      <td>
        <p *ngIf="exploration.top_m === 0">You have not ventured here yet</p>
        <p *ngIf="exploration.top_m !== 0">{{exploration.top_m}}</p></td>
    </tr>
    <tr>
      <th>Highest Plains area clear</th>
      <td>
        <p *ngIf="exploration.top_p === 0">You have not ventured here yet</p>
        <p *ngIf="exploration.top_p !== 0">{{exploration.top_p}}</p></td>
    </tr>
  </table>
</div>
